<div class="dropdown-input-container" (clickOutside)="isOpen = false">
  <button
    type="button"
    class="input-box"
    (click)="toggleDropdown()"
    [attr.aria-expanded]="isOpen"
    aria-haspopup="listbox"
  >
    <input
      [placeholder]="placeholder"
      [value]="selectedOption"
      readonly
      tabindex="-1"
    />

    <button
      class="material-icons clear-btn"
      *ngIf="selectedOption !== null && selectedOption !== ''"
      (click)="clearSelection($event)"
    >
      close
    </button>

    @if (isLoading) {
      <aso-loading [inline]="true"></aso-loading>
    } @else {
      <span class="material-icons arrow" [class.invert]="isOpen">
        keyboard_arrow_down
      </span>
    }
  </button>
  <ul class="dropdown-list" [class.open]="isOpen">
    @for (option of options; track $index) {
      <li (click)="selectOption(option)">
        {{ option }}
      </li>
    }
  </ul>
</div>
