<body class="app-home">
  <div class="container">
    <section class="introduction">
    <img class="oraculo" src="assets/oraculoC2.png" alt="">
    <img class="pergaminho" src="assets/pergaminho.png" alt="">
    <h2 class="home-title">Artificial Story Oracle</h2>
    <!-- <img class="oraculo" src="assets/oraculo.png" alt=""> -->
  </section>
  <section class="home-content">
    <div class="home-text">
      <p>
        ASO — Oráculo de História Artificial é uma plataforma inovadora para a 
        criação de histórias grandiosas de fantasia, ideal para enriquecer as 
        suas aventuras de RPG.
      </p>
      <p>
        Este projeto nasceu de uma pesquisa de TCC desenvolvida em 2025 e tem
        como propósito auxiliar mestres e jogadores na construção de campanhas
        envolventes.
      </p>
      <p>
        Aqui, você poderá criar suas campanhas com o apoio do Oráculo, que
        utiliza Inteligência Artificial para gerar ideias, oferecer insights
        criativos e inspirar narrativas épicas.
      </p>
      <p>
        Além disso, o Oráculo pode ajudar no desenvolvimento da história dos
        seus personagens, integrando-os de forma coesa e significativa ao mundo
        que você está criando.
      </p>
    </div>
  </section>
  </div>
</body>