<main class="aso-character">
  <div class="character-filter">
    <!-- <aso-input
      class="filter-input"
      placeholder="buscar por nome"
      icon="search"
    ></aso-input> -->
    <aso-input
      class="filter-input"
      placeholder="Buscar por nome"
      icon="search"
    ></aso-input>
    <div>
      <aso-dropdown-input
        class="dropdown-input"
        [options]="getAncestryNames()"
        placeholder="Selecionar uma raça"
        [isLoading]="isLoading"
      ></aso-dropdown-input>
      <aso-dropdown-input
        class="dropdown-input"
        [options]="getClassNames()"
        placeholder="Selecionar uma classe"
      ></aso-dropdown-input>
    </div>
  </div>
  <div class="character-list">
    <aso-character-card
      *ngFor="let character of myCharacters"
      [character]="character"
      (edit)="handleEdit(character)"
      (delete)="handleDelete(character)"
    ></aso-character-card>
  </div>
</main>
